In [1]:
import pandas as pd

In [2]:
column_names = [
    'Checking_Account_Status', 'Duration_in_months', 'Credit_History', 
    'Purpose', 'Credit_Amount', 'Savings_Account_Bonds', 
    'Employment_Since', 'Installment_Rate', 'Personal_Status_Sex', 
    'Other_Debtors_Guarantors', 'Present_Residence_Since', 'Property', 
    'Age_in_years', 'Other_Installment_Plans', 'Housing', 
    'Number_of_Existing_Credits', 'Job', 'Number_of_Dependents', 
    'Telephone', 'Foreign_Worker', 'Credit_Risk'  # Target variable
]

In [3]:
df = pd.read_csv(
        'C:/Users/2638368/Desktop/AI_Credit/credit-risk-engine/german.data', 
        sep=' ', 
        header=None, 
        names=column_names
)

In [4]:
print(df.head())

  Checking_Account_Status  Duration_in_months Credit_History Purpose  \
0                     A11                   6            A34     A43
1                     A12                  48            A32     A43
2                     A14                  12            A34     A46
3                     A11                  42            A32     A42
4                     A11                  24            A33     A40

   Credit_Amount Savings_Account_Bonds Employment_Since  Installment_Rate  \
0           1169                   A65              A75                 4
1           5951                   A61              A73                 2
2           2096                   A61              A74                 2
3           7882                   A61              A74                 2
4           4870                   A61              A73                 3

  Personal_Status_Sex Other_Debtors_Guarantors  ...  Property Age_in_years  \
0                 A93                     A101  ...      A121           67
1                 A92                     A101  ...      A121           22
2                 A93                     A101  ...      A121           49
3                 A93                     A103  ...      A122           45
4                 A93                     A101  ...      A124           53

   Other_Installment_Plans Housing Number_of_Existing_Credits   Job  \
0                     A143    A152                          2  A173
1                     A143    A152                          1  A173
2                     A143    A152                          1  A172
3                     A143    A153                          1  A173
4                     A143    A153                          2  A173

  Number_of_Dependents  Telephone Foreign_Worker Credit_Risk
0                    1       A192           A201           1
1                    1       A191           A201           2
2                    2       A191           A201           1
3                    2       A191           A201           1
4                    2       A191           A201           2

[5 rows x 21 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Checking_Account_Status     1000 non-null   object
 1   Duration_in_months          1000 non-null   int64
 2   Credit_History              1000 non-null   object
 3   Purpose                     1000 non-null   object
 4   Credit_Amount               1000 non-null   int64
 5   Savings_Account_Bonds       1000 non-null   object
 6   Employment_Since            1000 non-null   object
 7   Installment_Rate            1000 non-null   int64
 8   Personal_Status_Sex         1000 non-null   object
 9   Other_Debtors_Guarantors    1000 non-null   object
 10  Present_Residence_Since     1000 non-null   int64
 11  Property                    1000 non-null   object
 12  Age_in_years                1000 non-null   int64
 13  Other_Installment_Plans     1000 non-null   object
 14  Housing                     1000 non-null   object
 15  Number_of_Existing_Credits  1000 non-null   int64
 16  Job                         1000 non-null   object
 17  Number_of_Dependents        1000 non-null   int64
 18  Telephone                   1000 non-null   object
 19  Foreign_Worker              1000 non-null   object
 20  Credit_Risk                 1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [6]:
df.head()

,Checking_Account_Status,Duration_in_months,Credit_History,Purpose,Credit_Amount,Savings_Account_Bonds,Employment_Since,Installment_Rate,Personal_Status_Sex,Other_Debtors_Guarantors,...,Property,Age_in_years,Other_Installment_Plans,Housing,Number_of_Existing_Credits,Job,Number_of_Dependents,Telephone,Foreign_Worker,Credit_Risk
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [7]:
df.describe()

,Duration_in_months,Credit_Amount,Installment_Rate,Present_Residence_Since,Age_in_years,Number_of_Existing_Credits,Number_of_Dependents,Credit_Risk
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000,1.300000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086,0.458487
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000,2.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000,2.000000

In [8]:
df.shape

(1000, 21)

In [9]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset has 1000 rows and 21 columns.

In [10]:
df["Credit_Risk"].head()

0    1
1    2
2    1
3    1
4    2
Name: Credit_Risk, dtype: int64

In [11]:
df["Credit_Risk"].value_counts()[1]

np.int64(700)

In [12]:
df["Credit_Risk"].value_counts()[2]

np.int64(300)

In [13]:
import matplotlib.pyplot as plt
import numpy as np

In [14]:
np.random.seed(42)
credit_risk_data = [1] * 700 + [2] * 300

In [15]:
age_data = np.random.randint(19, 75, 1000)

In [17]:
df =  pd.DataFrame({
    "Credit_Risk": credit_risk_data,
    "Age_in_Years": age_data,
    "Purpose": np.random.choice(['A40', 'A43', 'A42', 'A41', 'A49'], size=1000)
})

In [ ]:
plt.figure(figsize=(9, 6))

# Plot the histogram. 'bins' defines the number of bars.
# 'edgecolor' adds separation between bars for better visibility.
plt.hist(
    df['Age_in_years'], 
    bins=20, 
    color='teal', 
    edgecolor='black', 
    alpha=0.7
)
plt.figure(